html {
    box-sizing: border-box;
    background-color: black;
}


*, *:;before, *:;after {
    box-sizing: inherit;
}

.stars {
    background-image: url(../asteroids-images/stars.svg);
    width: 100%;
    height: 100vh;
-webkit-animation: pulse 20s linear infinite alternate;
}

@-webkit-keyframes pulse {
     0%{
        
  transform: scale(1,1);
    }
        
100% {
  transform: scale(3,3);
    
}
}
        
.asteroid {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 250px;
    height: 250px;
    background-image:url(../asteroids-images/asteroid.svg);
-webkit-animation: box-rotate 6s linear infinite alternate;
}

@-webkit-keyframes box-rotate {
    
    0%{
        
  transform: rotate(0deg);
    }
        
100% {
  transform: rotate(360deg);
    
}

}html {
    box-sizing: border-box;
}


*, *:;before, *:;after {
    box-sizing: inherit;
}


@-webkit-keyframes box-rotate {
    
    0%{
        
  transform: rotate(0deg);
    }
        
100% {
  transform: rotate(360deg);
    
}

}

.ship {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 200px;
    left: 60%;
-webkit-animation: spaceship 7s ease-in-out infinite;
    background-image:url(../asteroids-images/ship.svg);
}   
    
@-webkit-keyFrames spaceship{
    0% {
    transform: translateX(100px);
    }
    50% {
    transform: translateX(200px);
}
    70% {
    transform: translateY(200px);
    }
    
    81.74% {
    transform: translateX(400px);
    
    }
    
    92% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(100px);
    }
}
}
}
        
